# Verify Service
# Create one in the console at twilio.com/console/verify/services
SERVICE_ID = '<service id here>'

# Set as environment variables
TWILIO_ACCOUNT_SID = os.environ["TWILIO_ACCOUNT_SID"]
TWILIO_AUTH_TOKEN = os.environ["TWILIO_AUTH_TOKEN"]